
<ion-view>
<div class="bar bar-header bar-balanced">
  <a class="button icon ion-chevron-left button-clear" style=" left:-6%; width:20%;  height: 100%;" ng-click="goDataAnalyseTable()"></a>
    <h1 id="cullSurTi" class="title">
      产蛋率曲线
    </h1>
  <select style="position: absolute;  
               top:0.5rem;  
               right:1rem; 
               height:2rem; 
               width:5rem; 
               background:transparent url(img/icon/clear_image.png) no-repeat;
               border:solid 0px #FFF;
               color: #FFF;
			   font-size:12pt;" ng-change = "changesCompareType()" ng-model="cullDeathRateData.ViewType">  
                            <option value="{{key}}" ng-repeat="(key,val) in myConfig.ViewType" ng-selected="key==cullDeathRateData.ViewType">{{val}}</option> 
                        </select>
						
</div>
    <ion-content class="has-header">
      <div id="cullDeath_DIV">
          <div id="main" style = "height:100%;"></div>
      </div>
    </ion-content>
</ion-view>