<ion-view>
<div class="bar bar-header bar-balanced">
    <h1 class="title">
      软件使用许可
    </h1>
</div>
    <ion-content class="has-header">
      <div style="position: relative; left: 10%; width: 80%;height: 100%;">
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;《智慧鸡场软件》（以下简称“软件”）是由上海农汇信息科技有限公司（以下简称“我们”）自主开发并向您免费提供。在您使用前，您需要阅读并接受以下条款。</p>
        <p><strong>我们对您的承诺：</strong></p>
        <p>1.软件使用是免费的，我们不会向您收取与软件使用有关的费用。</p>
        <p>2.同样，您在软件中保存的数据，我们会免费帮您存储并供您随时查看，不收取费用。</p>
        <p>3.我们不会向任何第三方泄露您的身份信息和您所在养殖场的信息，除非事先征得您同意。</p>
        <p>4.我们会推出针对高级会员的专属服务并收取合理费用，您可以选择加入或不加入，并非强制性要求。</p>
        <p>5.除非您违反以下的条款，我们不会终止对您的服务。</p>
        <p><strong>您对我们的承诺：</strong></p>
        <p>1.您使用本软件的目的是为了管理您自己的养殖场，您不会将我们的软件作其他任何用途。</p>
        <p>2.您不会恶意破坏我们的软件，也不会故意输入虚假或误导性的信息。</p>
        <p>3.您自己负责设置和保管密码，正常情况下对软件的一切操作，我们均视为您本人的操作，您须对操作的内容和后果负责。</p>
        <p>4.我们通过软件推送的信息和工具，仅供您参考，您需要根据现场实际作出您自己的判断，并对结果负责。</p>
        <p>5.所有因我们无法控制的网络中断、自然灾害或其他不可抗力导致软件无法正常使用，并因此造成损失，我们不承担相应责任。</p>
        <p>6.如果您违反以上的承诺，我们可以单方面决定是否继续向您提供软件使用的许可，您对此没有异议。</p>
        <br>
        <br>
        <br>
        <br>
      </div>
    </ion-content>

    <div class="tabs tabs-icon-top">
      <table style="width: 100%;height: 100%;">
        <tr>
          <td class="midde" style="width: 50%; height: 100%; border-right:solid 1px #C7C7C7;">
            <a class="tab-item" ng-click="goLandingPage()">
              <p style="position: relative; top: 15px; font-size: 16px;text-align:center;">同意</p>
            </a>
          </td>
          <td class="midde" style="width: 50%; height: 100%;">
            <a class="tab-item" ng-click="closeApp()">
             <p style="position: relative; top: 15px; font-size: 16px;text-align:center;">不同意</p>
            </a>
          </td>
        </tr>
      </table>
      
     
    </div>
</ion-view>