
  <ion-view> 
   <div class="bar bar-header bar-balanced"> 
    <a class="button icon ion-chevron-left button-clear" ng-hide="backBtn" ng-click="backTable()"></a>
    <h1 class="title">用户详情</h1> 
    <!-- <a class="button button-clear" ng-hide="visible" ng-click="startEdit()">编辑</a> -->
   </div> 
   <ion-content class="has-header"> 
    <form name="myForm">
      <div class="list">
       <label class="item item-input"> <span class="input-label fontColor">用户名</span> <i class="icon ion-ios-arrow-forward"></i> <p>{{sparraw_user_temp.userinfo.userCode}}</p></label> 
       <label class="item item-input"> <span class="input-label fontColor">姓名</span> <i class="icon ion-ios-arrow-forward"></i> <p>{{sparraw_user_temp.userinfo.userName}}</p></label>
       <label class="item item-input"> <span class="input-label fontColor">角色</span> <i class="icon ion-ios-arrow-forward"></i><p>{{sparraw_user_temp.userinfo.roleName}}</p></label>
       <label class="item item-input"> <span class="input-label fontColor">电话</span> <i class="icon ion-ios-arrow-forward"></i><p>{{sparraw_user_temp.userinfo.tele}}</p></label>

      <br />
      <br /> 
      <br />
      
    </form>
    <div style="  background-image:url('img/newFolder/public/clear_image.png');
                  position:absolute;
                  margin-left:40%;
                  margin-top:-420px;
                  width:250px;
                  height:340px;
                  z-index:2;"
           ng-hide="sheerDiv">
      </div>
    <br /> 
    <div class="middle">  
     <a class="button  button-balanced saveBtn" ng-show="visible" ng-click="saveUpdate()" nav-transition="android">保   存</a> 
    </div>
    <br /> 
    <br /> 
   </ion-content> 
  </ion-view>