<ion-view>
<div class="bar bar-header bar-balanced">
  <a class="button icon ion-chevron-left button-clear" ui-sref="home"></a>
    <h1 class="title">
      养殖宝典
    </h1>
</div>
    <ion-content class="has-header">






        <table  style="width:100%;height:100%;">
              <tr style="height: 80px;background-color:white;">
                  <td style="border:solid 1px #8E8E8E;">
                  <a ng-click="goApparentTempCalc()">
                    <img src="img/newFolder/newBatchManages/Oval1.png" class="imgStyle" />
                    <p id="text2" class="textStyle">
                      体感温度
                    </p>
                  </a>
                </td>
                <td style="border:solid 1px #8E8E8E;">
                  <a ng-click="goChickenWechat()">
                    <img src="img/newFolder/chickenAssists/Fill189.png" class="imgStyle" />
                    <p id="text2" class="textStyle">
                      鸡场微信
                    </p>
                  </a>
                </td>
              </tr>

              <tr style="height: 80px;background-color:white;">
                <td style="border:solid 1px #8E8E8E;">
                  <a ng-click="goSyncProject()">
                    <img src="img/newFolder/chickenAssists/Path29.png" class="imgStyle" />
                    <p id="text4" class="textStyle">
                      同行对标
                    </p>
                  </a>
                </td>
                <td style="border:solid 1px #8E8E8E;">
                  
                </td>
              </tr>
        
            </table>
    </ion-content>
</ion-view>